# Credit Card Fraud Detection using Machine Learning

importing the dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [9]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv("creditcard.csv")

In [10]:
# printing first five rows of the datset 

credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [12]:
# checkinh number of rows and column in the dataset

credit_card_data.shape

(284807, 31)

In [13]:
# Genreal information about the datset

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [14]:
# checking for empty null values

credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [15]:
# Statical Insights from the datset

credit_card_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [17]:
# distribution of Legit and Fraud transections 

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is highly unblanced,  0~ Legit transection, 1~ Fraud Transection

splitting data into trainning and test data

In [20]:
legit_data = credit_card_data[credit_card_data.Class == 0]
fraud_data = credit_card_data[credit_card_data.Class == 1]

In [23]:
# Checking shape of legit and fraud data 
print(legit_data.shape)
print(fraud_data.shape)

(284315, 31)
(492, 31)

In [24]:
# statistical measures of the data
legit_data.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [25]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

As there is a case of Under-Sampling i am building a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions i.e 492

In [26]:
legit_sample = legit_data.sample(n=492)

In [28]:
# Concat the two new datsets with same number of sample size

new_legit_data = pd.concat([legit_sample, fraud_data], axis=0)

In [30]:
# checking first five rows of the new dataset 
new_legit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
213185,139144.0,-0.912962,1.198866,1.010438,0.597080,-0.018833,-0.250067,0.834324,0.011027,-0.320830,...,0.360568,1.176436,-0.636252,0.037258,1.141137,-0.136440,-0.543331,-0.365266,56.85,0
218317,141265.0,2.060652,-0.116961,-1.080180,0.427622,-0.230382,-1.240860,0.122891,-0.283510,0.679841,...,-0.299120,-0.772697,0.352169,0.021196,-0.330690,0.198438,-0.076755,-0.061785,1.98,0
250104,154728.0,-0.963110,1.214704,0.735761,-1.075867,0.275190,-0.179212,0.268254,-0.858113,0.863446,...,0.456370,-0.824156,0.015739,-0.493594,-0.129646,-0.294641,-0.001151,-0.063597,7.70,0
11318,19700.0,-0.844085,1.179035,1.718591,1.231749,0.123673,0.150840,0.277431,0.153140,0.951240,...,-0.252056,-0.225827,-0.093840,0.045944,-0.268938,-0.542426,-0.241468,-0.177670,13.00,0
168837,119409.0,1.583589,-0.161714,-0.639106,3.648788,0.297524,0.903890,-0.097502,0.223189,-0.818981,...,0.109997,-0.094883,0.091371,0.292968,-0.259276,-0.161220,-0.054884,-0.018087,164.76,0

In [32]:
# checking shape of new datset 
new_legit_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [34]:
new_legit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93459.943089,-0.133825,-0.098126,0.045674,0.046570,-0.014927,0.056823,-0.096981,-0.029447,-0.002558,...,-0.053388,0.015012,0.006850,0.014089,0.004861,0.004985,0.009026,-0.011811,-0.021461,90.731484
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into Features & Target

In [35]:
X = new_legit_data.drop(columns='Class', axis=1)
Y = new_legit_data['Class']

In [36]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
213185  139144.0 -0.912962  1.198866  1.010438  0.597080 -0.018833 -0.250067
218317  141265.0  2.060652 -0.116961 -1.080180  0.427622 -0.230382 -1.240860
250104  154728.0 -0.963110  1.214704  0.735761 -1.075867  0.275190 -0.179212
11318    19700.0 -0.844085  1.179035  1.718591  1.231749  0.123673  0.150840
168837  119409.0  1.583589 -0.161714 -0.639106  3.648788  0.297524  0.903890
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
213185  0.834324  0.011027 -0.320830  ... -0.161930  0.360568  1.176436
218317  0.122891 -0.283510  0.679841  ... -0.283115 -0.299120 -0.772697
250104  0.268254 -0.858113  0.863446  ...  0.027311  0.456370 -0.824156
11318   0.277431  0.153140  0.951240  ... -0.062809 -0.252056 -0.225827
168837 -0.097502  0.223189 -0.818981  ...  0.048309  0.109997 -0.094883
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
213185 -0.636252  0.037258  1.141137 -0.136440 -0.543331 -0.365266   56.85
218317  0.352169  0.021196 -0.330690  0.198438 -0.076755 -0.061785    1.98
250104  0.015739 -0.493594 -0.129646 -0.294641 -0.001151 -0.063597    7.70
11318  -0.093840  0.045944 -0.268938 -0.542426 -0.241468 -0.177670   13.00
168837  0.091371  0.292968 -0.259276 -0.161220 -0.054884 -0.018087  164.76
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
213185    0
218317    0
250104    0
11318     0
168837    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [38]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training - we are choosing Logistic Regression

In [39]:
model = LogisticRegression()

In [41]:
# Training the Logistic Regression model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation of the datset

In [44]:
# accuracy score training data
x_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(x_train_prediction, Y_train)
print('accuracy score for training data is :', test_data_accuracy)

accuracy score for training data is : 0.9377382465057179

In [45]:
# accuracy score test data
x_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(x_test_prediction, Y_test)
print('accuracy score for test data is :', test_data_accuracy)

accuracy score for test data is : 0.9390862944162437

accuracy score for both traing and testing data is very much the same, so our model is working fine